[package]
name = "asuran"
description = "Deduplicating, fault tolerant archiver"
license = "MIT"
version = "0.0.0"
authors = ["Nathan McCarty <nathan@mccarty.io>"]
edition = "2018"

[lib]
name = "libasuran"
path = "src/lib.rs"

[[bin]]
name = "asuran"
path = "src/bin.rs"

[features]
profile = ["flame", "flamer"]

[dependencies]
base64 = "0.10.1"
zstd = "0.4"
rust-crypto = "0.2.36"
bcrypt = "0.4"
rand = "0.6.5"
zeroize = "0.6.0"
hmac = "0.7.0"
sha2 = "0.8.0"
digest = "0.8.0"
walkdir = "2.2.7"
serde = { version = "1.0.90", features = ["derive"]}
rmp-serde = "0.13.7"
serde_bytes = "0.11"
chrono = { version = "0.4", features = ["serde"] }
tempfile = "3.0.7"
flame = {version = "0.2.0", optional = true}
flamer = {version = "0.3", optional = true}

[dev-dependencies]
quickcheck = "0.8"

